@import "tailwindcss";

:root {
  --background: #111827;
  --foreground: #f9fafb;
  --font-roboto: var(--font-roboto);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
}

body {
  background: #111827;
  color: #f9fafb;
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}
